# Configurações sensíveis e arquivos do sistema
.env
/storage/*
!/storage/.gitkeep

# Backups e dumps
*.sql
/backups/
*.bak

# IDEs e editores
.vscode/

# Sistema e dependências
/vendor/
.DS_Store
Thumbs.db
