<IfModule mod_rewrite.c>
    RewriteEngine On
    
     # Impede que usuários vejam o conteúdo de diretórios sem um index.
    Options All -Indexes
    
    RewriteCond %{REQUEST_FILENAME} !-f # Se não for um arquivo existente
    RewriteCond %{REQUEST_FILENAME} !-d # Se não for um diretório existente
    RewriteRule . index.php [QSA,L] # Redireciona para index.php
</IfModule>